extends layout

block content
  h1= title
  p Welcome to #{title}

  .card
    img(class="card-img-top", src='https://images.homedepot-static.com/productImages/a4e315b5-e2b7-4fd9-94a0-c7d51408285d/svn/brady-stock-signs-94143-64_1000.jpg', alt="Card image cap")
    .card-body
      h5(class="card-title")
        Card title
      .card-text
        Some quick example text to build on the card title
